<html>

<head> <link rel="stylesheet" href="/style.css"></link> </head>
<h1 align="center">
    Bienvenue sur du developpement, cette page a été crée à but pédagogique
</h1>
<body>
    <ul>
        <li>
             <a  href="/students">Joueurs </a> 
        </li>
        <li>
            <a href="/students-csv">Check de joueur</a>
        </li>
        <li>
            <a href="/students/create">Ajout de joueur à la plus belle équipe du monde</a>
        </li>
    </ul>
</body>
<p align="center">
<img src="https://upload.wikimedia.org/wikipedia/fr/thumb/4/43/Logo_Olympique_de_Marseille.svg/1200px-Logo_Olympique_de_Marseille.svg.png"/>
</p>
</html>